@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  color: orangered;
}

body {
  background-image: url('../public/assets/summer-bg.jpg');
}